In [1]:
import sqlite3

In [2]:
### connect to sqlite database.
connection=sqlite3.connect('example.db')

In [4]:
connection

In [5]:
cursor=connection.cursor()

In [6]:
### create a table

cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    Department Text
    )
''')

### commit the changes

connection.commit()

In [9]:
cursor.execute('''
Select * from employees
''')

In [8]:
### insert the data in sqlite3 table

cursor.execute('''
Insert Into employees(name,age,department)
               values('Krish',32,'Data Scientist')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Bob', 25, 'Engineering')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Charlie', 35, 'Finance')
''')

## commi the changes
connection.commit()

In [17]:
### Quering the data from sqlite3

cursor.execute('Select * from employees')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'Parth', 20, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')

In [11]:
### update the data

cursor.execute('''
Update employees
Set age = 20
where name='Krish'
''')

connection.commit()

In [14]:
### update the data

cursor.execute('''
Update employees
Set name='Parth'
where age=20
''')

connection.commit()

In [16]:
### delete the data from table

cursor.execute('''
Delete from employees
               where name ='Bob'
''')

connection.commit()