In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.2.2

In [1]:
### series from list

import pandas as pd

data=[1,2,3,4,5]
series = pd.Series(data)

print("Series \n", series)

Series
 0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
### series from dictionary

data={'a':1, 'b':2, 'c':3, 'd':4}
series_dictionary = pd.Series(data)

print(series_dictionary)

### keys are considered as index while the values are considered as the series values.

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
### series with index as the keys we want to give.

data=[10,20,30,40]
index=['a', 'b','c', 'd']

pd.Series(data, index=index)

a    10
b    20
c    30
d    40
dtype: int64

In [7]:
### Dataframes
### creating a dataframe from a dictionary of list

data={
    'Name':['Parth', 'John', 'Jack'],
    'Age':[25,30,45],
    'City':['Pune','Delhi','Banglore']
}

df=pd.DataFrame(data)
print(df)
print(type(df))

    Name  Age      City
0  Parth   25      Pune
1   John   30     Delhi
2   Jack   45  Banglore
<class 'pandas.core.frame.DataFrame'>

In [9]:
import numpy as np

np.array(df)

array([['Parth', 25, 'Pune'],
       ['John', 30, 'Delhi'],
       ['Jack', 45, 'Banglore']], dtype=object)

In [12]:
## create a dataframe from a list of dictionaries.

data=[
    {'Name':"Parth", 'Age':25, 'City':"Pune"},
    {'Name':"John", 'Age':35, 'City':"Delhi"},
    {'Name':"Jack", 'Age':45, 'City':"Banglore"},
    {'Name':"Jacob", 'Age':55, 'City':"Hyderabad"}
]

df_dictionary = pd.DataFrame(data)
print(df_dictionary)
print(type(df_dictionary))

    Name  Age       City
0  Parth   25       Pune
1   John   35      Delhi
2   Jack   45   Banglore
3  Jacob   55  Hyderabad
<class 'pandas.core.frame.DataFrame'>

In [19]:
### read a csv file

df=pd.read_csv('sales_data.csv')
(df.head(20))

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal
5,10006,2024-01-06,Sports,Wilson Evolution Basketball,5,29.99,149.95,Asia,Credit Card
6,10007,2024-01-07,Electronics,MacBook Pro 16-inch,1,2499.99,2499.99,North America,Credit Card
7,10008,2024-01-08,Home Appliances,Blueair Classic 480i,2,599.99,1199.98,Europe,PayPal
8,10009,2024-01-09,Clothing,Nike Air Force 1,6,89.99,539.94,Asia,Debit Card
9,10010,2024-01-10,Books,Dune by Frank Herbert,2,25.99,51.98,North America,Credit Card
10,10011,2024-01-11,Beauty Products,Chanel No. 5 Perfume,1,129.99,129.99,Europe,PayPal
11,10012,2024-01-12,Sports,Babolat Pure Drive Tennis Racket,3,199.99,599.97,Asia,Credit Card
12,10013,2024-01-13,Electronics,Samsung Galaxy Tab S8,2,749.99,1499.98,North America,Credit Card
13,10014,2024-01-14,Home Appliances,Keurig K-Elite Coffee Maker,1,189.99,189.99,Europe,PayPal
14,10015,2024-01-15,Clothing,North Face Down Jacket,2,249.99,499.98,Asia,Debit Card
15,10016,2024-01-16,Books,"Salt, Fat, Acid, Heat by Samin Nosrat",3,35.99,107.97,North America,Credit Card
16,10017,2024-01-17,Beauty Products,Dyson Supersonic Hair Dryer,1,399.99,399.99,Europe,PayPal
17,10018,2024-01-18,Sports,Manduka PRO Yoga Mat,4,119.99,479.96,Asia,Credit Card
18,10019,2024-01-19,Electronics,Garmin Forerunner 945,2,499.99,999.98,North America,Credit Card
19,10020,2024-01-20,Home Appliances,Ninja Professional Blender,1,99.99,99.99,Europe,PayPal