In [2]:
import pandas as pd

In [2]:
print(pd.__version__)

2.2.2

In [1]:
### series from list

import pandas as pd

data=[1,2,3,4,5]
series = pd.Series(data)

print("Series \n", series)

Series
 0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
### series from dictionary

data={'a':1, 'b':2, 'c':3, 'd':4}
series_dictionary = pd.Series(data)

print(series_dictionary)

### keys are considered as index while the values are considered as the series values.

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
### series with index as the keys we want to give.

data=[10,20,30,40]
index=['a', 'b','c', 'd']

pd.Series(data, index=index)

a    10
b    20
c    30
d    40
dtype: int64

In [7]:
### Dataframes
### creating a dataframe from a dictionary of list

data={
    'Name':['Parth', 'John', 'Jack'],
    'Age':[25,30,45],
    'City':['Pune','Delhi','Banglore']
}

df=pd.DataFrame(data)
print(df)
print(type(df))

    Name  Age      City
0  Parth   25      Pune
1   John   30     Delhi
2   Jack   45  Banglore
<class 'pandas.core.frame.DataFrame'>

In [9]:
import numpy as np

np.array(df)

array([['Parth', 25, 'Pune'],
       ['John', 30, 'Delhi'],
       ['Jack', 45, 'Banglore']], dtype=object)

In [12]:
## create a dataframe from a list of dictionaries.

data=[
    {'Name':"Parth", 'Age':25, 'City':"Pune"},
    {'Name':"John", 'Age':35, 'City':"Delhi"},
    {'Name':"Jack", 'Age':45, 'City':"Banglore"},
    {'Name':"Jacob", 'Age':55, 'City':"Hyderabad"}
]

df_dictionary = pd.DataFrame(data)
print(df_dictionary)
print(type(df_dictionary))

    Name  Age       City
0  Parth   25       Pune
1   John   35      Delhi
2   Jack   45   Banglore
3  Jacob   55  Hyderabad
<class 'pandas.core.frame.DataFrame'>

In [4]:
### read a csv file

df=pd.read_csv('sales_data.csv')
(df.head(20))  ### to get the initial n entries.

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal
5,10006,2024-01-06,Sports,Wilson Evolution Basketball,5,29.99,149.95,Asia,Credit Card
6,10007,2024-01-07,Electronics,MacBook Pro 16-inch,1,2499.99,2499.99,North America,Credit Card
7,10008,2024-01-08,Home Appliances,Blueair Classic 480i,2,599.99,1199.98,Europe,PayPal
8,10009,2024-01-09,Clothing,Nike Air Force 1,6,89.99,539.94,Asia,Debit Card
9,10010,2024-01-10,Books,Dune by Frank Herbert,2,25.99,51.98,North America,Credit Card
10,10011,2024-01-11,Beauty Products,Chanel No. 5 Perfume,1,129.99,129.99,Europe,PayPal
11,10012,2024-01-12,Sports,Babolat Pure Drive Tennis Racket,3,199.99,599.97,Asia,Credit Card
12,10013,2024-01-13,Electronics,Samsung Galaxy Tab S8,2,749.99,1499.98,North America,Credit Card
13,10014,2024-01-14,Home Appliances,Keurig K-Elite Coffee Maker,1,189.99,189.99,Europe,PayPal
14,10015,2024-01-15,Clothing,North Face Down Jacket,2,249.99,499.98,Asia,Debit Card
15,10016,2024-01-16,Books,"Salt, Fat, Acid, Heat by Samin Nosrat",3,35.99,107.97,North America,Credit Card
16,10017,2024-01-17,Beauty Products,Dyson Supersonic Hair Dryer,1,399.99,399.99,Europe,PayPal
17,10018,2024-01-18,Sports,Manduka PRO Yoga Mat,4,119.99,479.96,Asia,Credit Card
18,10019,2024-01-19,Electronics,Garmin Forerunner 945,2,499.99,999.98,North America,Credit Card
19,10020,2024-01-20,Home Appliances,Ninja Professional Blender,1,99.99,99.99,Europe,PayPal

In [5]:
(df.tail(20))  ### to get the final n entries.

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
220,10221,2024-08-08,Beauty Products,Tarte Shape Tape Concealer,1,27.00,27.00,Europe,PayPal
221,10222,2024-08-09,Sports,Garmin Forerunner 945,1,599.99,599.99,Asia,Credit Card
222,10223,2024-08-10,Electronics,Amazon Echo Dot (4th Gen),4,49.99,199.96,North America,Credit Card
223,10224,2024-08-11,Home Appliances,Philips Sonicare DiamondClean Toothbrush,2,229.99,459.98,Europe,PayPal
224,10225,2024-08-12,Clothing,Old Navy Mid-Rise Rockstar Super Skinny Jeans,2,44.99,89.98,Asia,Debit Card
225,10226,2024-08-13,Books,The Silent Patient by Alex Michaelides,3,26.99,80.97,North America,Credit Card
226,10227,2024-08-14,Beauty Products,The Ordinary Caffeine Solution 5% + EGCG,1,6.70,6.70,Europe,PayPal
227,10228,2024-08-15,Sports,Fitbit Luxe,2,149.95,299.90,Asia,Credit Card
228,10229,2024-08-16,Electronics,Google Nest Wifi Router,1,169.00,169.00,North America,Credit Card
229,10230,2024-08-17,Home Appliances,Anova Precision Oven,1,599.00,599.00,Europe,PayPal
230,10231,2024-08-18,Clothing,Adidas Originals Trefoil Hoodie,4,64.99,259.96,Asia,Debit Card
231,10232,2024-08-19,Books,Dune by Frank Herbert,2,9.99,19.98,North America,Credit Card
232,10233,2024-08-20,Beauty Products,Fresh Sugar Lip Treatment,1,24.00,24.00,Europe,PayPal
233,10234,2024-08-21,Sports,Hydro Flask Standard Mouth Water Bottle,3,32.95,98.85,Asia,Credit Card
234,10235,2024-08-22,Electronics,Bose QuietComfort 35 II Wireless Headphones,1,299.00,299.00,North America,Credit Card
235,10236,2024-08-23,Home Appliances,Nespresso Vertuo Next Coffee and Espresso Maker,1,159.99,159.99,Europe,PayPal
236,10237,2024-08-24,Clothing,Nike Air Force 1 Sneakers,3,90.00,270.00,Asia,Debit Card
237,10238,2024-08-25,Books,The Handmaid's Tale by Margaret Atwood,3,10.99,32.97,North America,Credit Card
238,10239,2024-08-26,Beauty Products,Sunday Riley Luna Sleeping Night Oil,1,55.00,55.00,Europe,PayPal
239,10240,2024-08-27,Sports,Yeti Rambler 20 oz Tumbler,2,29.99,59.98,Asia,Credit Card

In [8]:
data

{'Name': ['Parth', 'John', 'Jack'],
 'Age': [25, 30, 45],
 'City': ['Pune', 'Delhi', 'Banglore']}

In [9]:
df

    Name  Age      City
0  Parth   25      Pune
1   John   30     Delhi
2   Jack   45  Banglore

In [13]:
df['Name']  ### this is case sensitive. name will not work. need to use Name only.

0    Parth
1     John
2     Jack
Name: Name, dtype: object

In [19]:
df.loc[0]  ### row index.

Name    Parth
Age        25
City     Pune
Name: 0, dtype: object

In [20]:
df.loc[0][1]

/var/folders/pp/hr12q0qj4x9450xlpzvw9l_m0000gn/T/ipykernel_5861/395987507.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.loc[0][1]

25

In [16]:
df.iloc[0]   ###column index

Name    Parth
Age        25
City     Pune
Name: 0, dtype: object

In [21]:
df.iloc[1][0]

/var/folders/pp/hr12q0qj4x9450xlpzvw9l_m0000gn/T/ipykernel_5861/1019881219.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[1][0]

'John'